* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Para que el padding no afecte al tamaño del elemento */
}

body {
    font-size: 20px; /* Tamaño de la fuente */
}


/* TITULOS */
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}

  
/* TEXTO GENERAL */
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #949494;
    padding: 20px;
    line-height: 1.6;
}

li, a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #949494;
    padding: 10px;
    line-height: 1.6;
}

/* Menu */
#listaMenu {
    list-style: none;
}

#btnMenu {
    display: none; /* oculto por defecto */
}

/* Logo */
.contenedor-header{
    display: flex; 
    flex-direction: row;
}


/* Texto cabecera */
.hero-text{
    padding-top: 60px;
}
.ImagenesCabecera {
    position: relative; /* Necesario para posicionar los puntos sobre las imágenes */
}
/* Imagenes cabecera */
.ImagenesCabecera img {
    width: 100%;
    max-height: 95vh;
    display: none; /* Ocultas todas */
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    object-fit: cover;
}

.ImagenesCabecera img.active {
    display: block; /* Mostrás solo la actual */
}

/* Contenedor de los puntitos */
.puntos {
    position: absolute; /* Posiciona los puntos sobre las imágenes */
    bottom: 20px; /* Ajusta la distancia desde la parte superior según sea necesario */
    left: 50%;
    transform: translateX(-50%); /* Centra los puntos horizontalmente */
    z-index: 10; /* Asegura que los puntos estén sobre las imágenes */
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* Los puntitos */
.punto {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #cdcaca;
    border-radius: 50%;
    display: inline-block; /* Hace que los puntos estén en línea */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Activo (cuando el punto está seleccionado) */
.punto.active {
    background-color: #FFDB58;
}

/* Estilo para imagenes main */
main {
    position: relative;
    background-color: #fff;
    z-index: 1;
}

section {
    padding: 5%;
    padding-top: 2%;
    margin-top: 2%;
}

section:nth-of-type(odd) {
    background-color: #e6e6e6;
    color: white;
}
section:nth-of-type(even) {
    background-color: white;

}


.galeriaSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
}
  
.galeriaSection img {
    width: 30em;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.8) contrast(1) saturate(1);
}

/* contactos */
.info-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
    gap: 20px;
    flex-wrap: nowrap;
}
  
.info-contacto i {
    font-size: 20px;
    color: #333;
}
  
.info-contacto p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.flecha {
    transition: transform 0.3s ease;
}
  
.info-contacto:hover .flecha {
    transform: translateX(5px);
    color: #4c4c4c;
}

.contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px; 
    flex-wrap: wrap; /* Para que en móvil se acomoden uno debajo del otro */
}

.bloque-info {
    flex: 1 1 300px;
}
  
.mapa {
    flex: 1 1 400px;
    max-width: 500px;
    min-width: 300px;
    aspect-ratio: 4 / 3;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    filter: brightness(0.9) contrast(1) saturate(1);
}

#flechaArriba {
    position: fixed;
    bottom: 30px; /* Para que no esté pegado al borde */
    right: 30px;
    background: linear-gradient(to bottom, rgb(253, 252, 233), #FFDB58);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;             /* Oculto al inicio */
    pointer-events: none;   /* No clickeable mientras está oculto */
    transition: opacity 0.3s ease;
}

#flechaArriba.visible {
    opacity: 1;             /* Visible cuando tiene la clase */
    pointer-events: auto;   /* Clickeable */
}

/* Estilos para el escritorio */
@media (min-width: 1281px) {
    #menuPrincipal {
        z-index: 10;
        position: absolute; /* queja la barra de navegacion fija arriba */
        left: 0;
        right: 0;
        top: 0;
    }
    
    .contenedor-imagen img{
        position: absolute;
        top: 0;
        padding-top: 10px;
        width: 300px;
        padding-left: 40px;
    }
    
    #listaMenu {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* No permite que se rompa la línea */
        background-color: rgba(221, 221, 221, 0.35);
        padding-left: 180px;
        text-transform: uppercase;
    }
    
    #listaMenu li a {
        display: inline-block;
        color: #000;
        text-decoration: none;
        font-size: 18px;
        line-height: 50px;
        transition: color 0.8s linear;
        padding: 0;
    }
      
    #listaMenu li a:hover {
        color: #FFDB58;
    }
}

  /* Estilos responsive para móviles y tablets */
@media (max-width: 1281px) {
    .contenedor-imagen img{
        position: absolute;
        top: 0;
        padding-top: 10px;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }
    .galeriaSection {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .galeriaSection img {
      max-width: 100%;
      height: auto;
    }
    
    #menuPrincipal{
        display: none; /* Oculta el menú por defecto en pantallas pequeñas */
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.692);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;
        z-index: 50;
        text-transform: uppercase;
        padding-top: 80px;
    }

    #menuPrincipal.active {
        display: flex;
    }
    
    #btnMenu { /* Hamburguesa */
        display: block; /* Muestra el botón de menú en pantallas pequeñas */
        position: absolute;
        background: none;
        border: none;
        font-size: 2rem;
        z-index: 100;
        cursor: pointer;
        color: #000000;
        top: 20px;
        left: 20px;
    }

    #menuPrincipal a {
        padding: 0;
        display: inline-block; /* se tiene que poner esto para que funcione el movimiento del texto */
        color: #000000;
        text-decoration: none; /* quita el subrayado */
        font-size: 20px;
        transition: color 0.8s linear, transform 1s linear; /* tiempo de transición (al color amarillo), transicion lineal*/
        padding-left: 5%;
        padding-bottom: 0; /* sin espacio entre enlaces */
        line-height: 0;
    }

    #menuPrincipal a:hover{
        color: #FFDB58;
        transform: translateX(5px); /* mueve 5 píxeles a la derecha */
    }
}